{% load static i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Kesamokki</a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cottages:list' %}">Cottages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/">Admin</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-lg-4">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link"
                href="{% url 'users:detail' request.user.pk %}">{% translate "My Profile" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
            </li>
          {% else %}
            {% if ACCOUNT_ALLOW_REGISTRATION %}
              <li class="nav-item">
                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a id="log-in-link" class="btn btn-primary btn-sm" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>